In [1]:
# Empty tuple
data = ()
print(data)

()

In [4]:
# Tuple having integers
data = (8,7,4,5,8)
print(data)

# 2nd way to create a tuples 
data = 8,7,78,9,5,4,8
print(data)
print(type(data))

(8, 7, 4, 5, 8)
(8, 7, 78, 9, 5, 4, 8)
<class 'tuple'>

In [5]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [8]:
# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [13]:
# accessing tuple elements using indexing

data = (55,66,44,77,88)
print(data[1])

66

In [14]:
# accessing tuple elements using negative indexing
print(data[-1])

88

In [15]:
# accessing tuple elements using slicing
print(data[3:6])

(77, 88)

In [16]:
# iterating through the tuple
for i in data:
    print(i)

55
66
44
77
88

In [20]:
data = (4,4,3,2,3,4,5,6,7,5,4,3,3)
# use count() function
data.count(4)

4

In [21]:
# index() function
data.index(3)

2

In [27]:
# using sum function ...
data = (33,22,11,33,55,44,33)
sum(data)

231